:root {
  --darkest-blue: #242636;
  --very-dark-blue: #1b1a4f;
  --dark-blue: #3d426c;
  --near-white: #ececec;
}

.bg-dark {
  background-color: var(--darkest-blue)!important;
}

.navbar {
  height: 96px;
}

.navbar-collapse {
  height: 100%;
}

.navbar-nav {
  height: 100%;
}

.nav-item {
  height: 100%;
}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--near-white);
}

a {
  color: #a0c0e1;
}

a:hover {
  text-decoration: underline;
  color: #a0c0e1;
}

a:active {
  color: var(--near-white);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 3.5em;
}

.page-content {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}

.reading-pane {
  width: 960px;
  background-color: var(--dark-blue);
  flex-grow: 1;
}




/* Phone Styles */
@media only screen and (max-width: 400px) {
  .reading-pane {
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .reading-pane {
    width: 100%;
  }
}
