* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}







@media only screen and (max-width: 400px) {
    
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    
}